<%include ./static/header.ejs %>
<%include ./static/sidebar.ejs%>
<%include ./static/navbar.ejs%>
<!-- Begin Page Content -->
<div class="container-fluid" id="back">

  <div class="container-fluid">

    <div class="row">
      <div class="alert alert-secondary animated bounceInRight slow col-lg-12" role="alert">
        <h5 style="text-align: center">Sistema de Captura de Inventario</h5>
      </div>
    </div>
    <div class="row ">
      <div class="col-lg-8 ">
        <div class="mb-2 animated bounceInLeft slow">
          <div>
            <img class="d-block w-100 image-carousel center-block" src="/img/inventario.png" alt="First slide">
          </div>
        </div>
      </div>

      <div class="col-lg-4 animated bounceInRight slow">
        <div id="world-map-markers" style="height: 300px;"></div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12 animated bounceInLeft slow">
            <div class="card shadow mb-4 shadow-lg">
              <div class="card-header py-3">
                <h5 style="text-align: center">Inventario Tristone MX</h5>
              </div>
              <div class="accordion" id="accordionExample">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <% include ./static/footer.ejs%>

  <script src="/resources/jvectormap/jvectormap-custom.js"></script>