.img-logo {
  width: 15%;
  height: 15%;
}

body {
  font-size: 80%;
}

.sidebar-dark {
  background-image: url("/img/sidebar.png"), linear-gradient(rgb(66, 66, 66), rgb(0, 9, 51));
  background-size: cover;
}

.carousel-item {
  height: 300px;
  border-radius: 3%
}

.carousel-inner img {
  margin: auto;
}

#logo_index {
  width: 100px
}

/* Modal */

.modal-full {
  min-width: 100%;
  margin: 0;
}

.modal-full .modal-content {
  min-height: 100vh;
}

div#danger-alert {
  display: none;
}

.cdelay-1 {
  animation-delay: 1.25s;
}
.spacing {
  letter-spacing: 12px;
}

#wrapper {
  background-image: url("/img/background.jpg");
  background-size: cover
}

/* Graficas */

.bg-gradiant-blue {
  background-image: linear-gradient(315deg, #343a40 65%, #0059ff75 55%);
}

.bg-gradiant-yellow {
  background-image: linear-gradient(315deg, #343a40 65%, #fcb5029d 55%);
}

.bg-gradiant-orange {
  background-image: linear-gradient(315deg, #343a40 65%, #fc66029d 55%);
}

.bg-gradiant-dark {
  background-image: linear-gradient(to right, #383839, #343435, #303030, #2c2c2c, #282828, #252525, #222222, #1f1f1f, #1c1c1c, #181818, #151515, #111111);
}

.bg-transperant-blue {
  background-color: #0059ff9a;
}

.bg-transperant-yellow {
  background-color: rgba(252, 181, 2, 0.616);
}

.bg-transperant-orange {
  background-color: #fc6602cc;
}

.delay-1 {
  animation-delay: .25s;
}
.delay-2 {
  animation-delay: .50s;
}
.delay-3 {
  animation-delay: .75s;
}
.delay-4 {
  animation-delay: 1s;
}
.delay-5 {
  animation-delay: 1.25s;
}
.delay-6 {
  animation-delay: 1.50s;
}
.delay-7 {
  animation-delay: 1.75s;
}

.carousel-item {
  height: 900px;
}


color{
  background-color: #f3e7e77e
}

