
</div>

<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/popper.js/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/jvectormap-next/jquery-jvectormap.min.js"></script>

<script src="/resources/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/resources/jvectormap/jquery-jvectormap-world-mill-en.js"></script>


<script type="text/javascript" src="/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap4.js"></script>
<script type="text/javascript" src="/js/dataTables.buttons.js"></script>
<script type="text/javascript" src="/js/buttons.bootstrap4.js"></script>
<script type="text/javascript" src="/moment//min/moment.min.js"></script>
<script type="text/javascript" src="/js/sounds.js"></script>
<!-- <script type="text/javascript" src="/resources/datepicker/bootstrap-datetimepicker.min.js"></script> -->

<script type="text/javascript" src="/js/index.js"></script>
<script src="/js/sb-admin-2.js"></script> 

</body>

</html>